.page-home {
  .fcfm-logo-wrapper {
    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }

  .fcfm-logo {
    filter: grayscale(100%);
    transition: filter 0.3s ease;

    &:hover,
    &:focus {
      filter: grayscale(0%);
    }
  }

  .service-content p {
    text-align: center;
  }
}
