.badge-evento {
  display: inline-block;
  padding: 2px 10px;
  margin-bottom: 8px;
  font-size: 0.75rem;
  font-weight: bold;
  color: $steel;
  background-color: $white-offset;
  border-radius: 20px;
}

.page-services {
  @include media-breakpoint-down(md) {
    .service-title {
      font-size: 1.1rem;
    }
    .service-content p {
      font-size: 0.9rem;
    }
  }
}
